<!doctype html>
<html>
  <head>
    <title>INDEX</title>
  </head>
  <body>
    <p>INDEX</p>
  
  
  <p>Instance list</p>
  
    <table>
      <tr>
        <th>Id</th>
        <th>Host Name</th>
        <th>Private Key</th>
      </tr>
      <tr th:each="instance : ${instances}">
        <td th:text="${instance.id}"></td>
        <td th:text="${instance.hostname}"></td>
        <td th:text="${instance.privateKey}"></td>
      </tr>
    </table>
  
  
  
  <p>Cretae New Instance</p>
  
  <form action="insert" method="post">
  
  <label for="id"> Id :</label> <br/>
  <input type="text" name="id"/> <br/>
  
  
  <label for="hostname"> Host Name :</label> <br/>
  <input type="text" name="hostname"/> <br/>
  
  <label for="privateKey"> Private Key :</label> <br/>
  <input type="text" name="privateKey"/> <br/>
  
  <button type="submit"> Insert</button>
  
  </form>
  </body>
</html>