<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
  
  <form action="insert" method="post">
  
  <label for="id"> Id :</label> <br/>
  <input type="text" name="id"/> <br/>
  
  
  <label for="hostname"> Host Name :</label> <br/>
  <input type="text" name="hostname"/> <br/>
  
  <button type="submit"> Insert</button>
  
  </form>
  </body>
</html>